.icon-views {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;

  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    button {
      margin: 5px;
      background: none;
      border: none;
    }
  }

  .navbar{
    width: 40%;
    height: 100px;
  }
}

@media(max-width:960px){
  .icon-views{
    .navbar{
      display: flex;
    }
  }
}